/.vs/SingaLong/v15
/coverage
/.nyc_output
/node_modules
/routes/*.js
/routes/*.map
/scripts/LyricsEngines/*.js
/scripts/LyricsEngines/*.map
/scripts/**/*.js
/scripts/**/*.map
/*.js
/*.map
.env
token.txt
client/src/react-app-env.d.ts
client/src/track.js
client/src/track.js.map
globalConfig.json
