/.vs/SingaLong/v15
/SingaLong/bin
/SingaLong/obj
/SingaLong/node_modules
/Singalong/scripts/download.test.js
/Singalong/scripts/download.test.js.map
/SingaLong/app.js
/SingaLong/app.js.map
/SingaLong/public/download.test.js
/SingaLong/public/download.test.js.map
/SingaLong/routes/index.js
/SingaLong/routes/index.js.map
/SingaLong/routes/user.js
/SingaLong/routes/user.js.map
/SingaLong/scripts/download.js
/SingaLong/scripts/download.js.map
/SingaLong/scripts/google.js
/SingaLong/scripts/google.js.map
/SingaLong/*.user
