/.vs/SingaLong/v15
/SingaLong/bin
/SingaLong/obj
/SingaLong/node_modules
/Singalong/scripts/download.test.js
/Singalong/scripts/download.test.js.map
/SingaLong/app.js
/SingaLong/app.js.map
/SingaLong/public/download.test.js
/SingaLong/public/download.test.js.map
/SingaLong/routes/index.js
/SingaLong/routes/index.js.map
/SingaLong/routes/user.js
/SingaLong/routes/user.js.map
/SingaLong/scripts/download.js
/SingaLong/scripts/download.js.map
/SingaLong/scripts/google.js
/SingaLong/scripts/google.js.map
/SingaLong/*.user
/SingaLong/scripts/*.map
/SingaLong/scripts/spotify.js
/SingaLong/scripts/spotify.test.js
/SingaLong/scripts/LyricsEngines/*.map
/SingaLong/scripts/LyricsEngines/*.js
/SingaLong/scripts/*.js
/SingaLong/ftp.pubxml.user
/SingaLong/routes/*.js
/SingaLong/routes/*.map
/SingaLong/public/javascripts/track_helpers.js.map
/node_modules
/routes/*.js
/routes/*.map
/scripts/LyricsEngines/*.js
/scripts/LyricsEngines/*.map
/scripts/*.js
/scripts/*.map
/*.js
/*.map
.npmrc
.env
