extends layout

block content
    script(src="/javascripts/track.js")
    script(src="/javascripts/navigator.js")
    script(src="/javascripts/download.js")
    script(src="/javascripts/init.js")
    script(src="/javascripts/playlist.js")
    script(src="/javascripts/textual_playlist.js")
    script(src="/javascripts/context.js")
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style="height:50px")
      h1(style="text-align:center;position:relative;top:-15px") SingaLong
      a.nav-link(href='authorize' style='color:white;position:absolute;top:0;right:0;margin:5px;font-size:1em') Login to Spotify
    div(id='main-divider' data-access-token=accessToken data-refresh-token=refreshToken)
        div.alert.alert-danger(id='alert-section' style='display:none')
            p(style="color:rgb(255,0,0)" id='alert-message')
        div(role='tablist' style='width:40%;float:left')
            //- include textual_playlist.pug
            include playlists.pug

        div(role='tablist' style='padding-left:10px;float:right;width:60%')
            div.panel.panel-info.card
                div.panel-heading.card-header(role="tab" id="headingThree")
                    h3.panel-title
                        a.collapsed(id="lyricsHeader" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Lyrics
                div.panel-body.collapse(id="collapseThree" role="tabpanel" aria-labelledby="headingThree")
                    include track.pug

            include playlist.pug

    div(id='dialog' title='Custom Search' style='width:600px;height:200px')
      p Artist
      textarea(id='custom-artist' cols='70')
      br
      p Title
      textarea(id='custom-title' cols='70')

    include navigator.pug
