div.panel.panel-info.card(id='playlists-section' style='height:100%;width:100%')
    div.panel-heading.card-header(role="tab" id="headingTwo")
        h3.panel-title 
            a.collapsed(data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Spotify Playlists
    div.panel-body.collapse.show(id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo")
        div.card-body
            form(method='POST' action='search-playlists' id='search-playlists')
                input(type='hidden' name='accessToken' value=accessToken)
                input(type='hidden' name='refreshToken' value=refreshToken)
                input.form-control(form='search-playlists' type='text' name='playlistQuery' placeholder='Search Spotify playlists')
            br

            div.wrap-playlists
                a.playlist(id='currently-playing-link' href='#' onclick='showCurrentlyPlaying()' style='color:DarkViolet') Currently Playing
                br

                each playlist in playlists || []
                    a.playlist(id='playlist-link' href='#' onclick='showPlaylist("' + playlist.owner.id + '", "' + playlist.id + '")'
                        data-user-id=playlist.owner.id data-playlist-id=playlist.id)= playlist.name
                    br
