extends layout

block content
    script(src="/javascripts/client_helpers.js")
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      h1(style="text-align: center") SingaLong
      a.nav-link(href='authorize' style='color:white;position:absolute;top:0;right:0;margin-right:10px;margin-top:10px') Login to Spotify
    div(style="margin-left:10px")
        div.alert.alert-danger(id='alert-section' style='display:none')
            p(style="color:rgb(255,0,0)" id='alert-message')
        div(role='tablist' style='width:40%;float:left')
            include textual_playlist.pug
            include playlists.pug

        div(role='tablist' style='padding-left:10px;float:right;width:60%')
            div.panel.panel-info.card
                div.panel-heading.card-header(role="tab" id="headingThree")
                    h3.panel-title
                        a.collapsed(data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")= selectedTrack || 'Lyrics'
                div.panel-body.collapse(id="collapseThree" role="tabpanel" aria-labelledby="headingThree")
                    include track.pug

            include playlist.pug

    - var visibility = showSpotifyPlayer ? 'visible' : 'hidden';
    iframe(id='spotify-player' style="margin-right:25px;margin-bottom:0px;position:fixed;bottom:0;right:0;visibility:" + visibility src="https://open.spotify.com/embed?uri=spotify:user:" + userId + ":playlist:" + playlistId width="300" height="380" frameborder="0" allowtransparency="true")

