doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    style(type="text/css").
      .lyrics {
        white-space: pre
      }
  body
    block content