div.spotify-player(id='spotify-player' allowtransparency="true")
    button.navigate-button.play(id='toggle-play-button' onclick='togglePlay()' style='background: url(pause.png);background-size:100%' )
    button.navigate-button.previous(onclick='prevTrack()' style='background: url(previous.png);background-size:100%' )
    input.track-slider(id='track-slider' type="range" value="0" onchange="seek(this.value)" tabindex="0" style="width:55%")
    button.navigate-button.next(onclick='nextTrack()' style='background:url(next.png);background-size:100%;position:absolute')
