div(style='height:1100px;overflow:auto' id='playlist')
    each track, index in playlist
        - var style = !searchedDb ? '' : (track.lyrics == null ? 'color:red' : 'color:green');
        a(id=index href='#' onclick='getLyrics("' + track.artist + '", "' + track.title + '")' style=style+';max-height:10')= index+1 + '. ' + track
        br
