- var userId = context && context.userId
- var playlistId = context && context.playlistId
- var albumId = context && context.albumId

div.panel.panel-info.card(id='playlist' data-playlist=playlistId data-user-id=userId data-album-id=albumId)
    div.panel-heading.card-header(role="tab" id="headingFour")
        h3.panel-title
            a.collapsed(id='playlist-title' data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour") Playlist
    div.panel-body.collapse.show.in(id="collapseFour" role="tabpanel" aria-labelledby="headingFour" )
        div.card-body
            div.wrap-playlist
                include tracks.pug

    //- - var display = showSpotifyPlaylist === 'true' ? 'block' : 'none';
    //- iframe(id='spotify-player' style="margin-right:25px;margin-bottom:0px;position:fixed;bottom:0;right:0;display:" + display src="https://open.spotify.com/embed?uri=spotify:user:" + userId + ":playlist:" + playlistId width="300" height="380" frameborder="0" allowtransparency="true")
